.bluetooth {
  padding: 0 20px;
  box-sizing: border-box;
}
.bluetoothBox {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px 40px 10px 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #C9CDD4;
}
.bluetoothBoxIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
}
.bluetoothBoxMainName,
.bluetoothBoxMainUUID,
.bluetoothBoxMainRSSI,
.bluetoothBoxMainId {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 24px;
  color: #333333;
}
.bluetoothBoxMainDesc {
  color: #86909C;
}
.bluetoothBoxChecked {
  position: absolute;
  right: 12px;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.connect {
  position: fixed;
  left: 20px;
  width: 710px;
  height: 96px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  background: rgba(237,109,15, 1);
}